Repository ximu3/kisaki: changes, and which lefthook commands are due for each by the changed paths.
All: lint-desktop, format-desktop, lint-plugin-sdk, format-plugin-sdk, lint-plugin-cli, format-plugin-cli, lint-create-plugin, format-create-plugin, format-root

lint-desktop:
  run: pnpm eslint --fix --cache {staged_files}
  stage_fixed: true

format-desktop:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint-plugin-sdk:
  run: pnpm eslint --fix --cache {staged_files}
  stage_fixed: true

format-plugin-sdk:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint-plugin-cli:
  run: pnpm eslint --fix --cache {staged_files}
  stage_fixed: true

format-plugin-cli:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

lint-create-plugin:
  run: pnpm eslint --fix --cache {staged_files}
  stage_fixed: true

format-create-plugin:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

format-root:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore: show Kisaki icon in titlebar
  apps/desktop/src/renderer/src/components/layout/titlebar.vue
Due: none

chore: use .ico tray icon and add resource
  apps/desktop/resources/icon.ico
  apps/desktop/src/main/services/native/tray.ts
Due: lint-desktop, format-desktop

chore: show app icon in development mode
  apps/desktop/src/main/services/window/service.ts
Due: lint-desktop, format-desktop

chore: rename build-plugin-toolkit to build-plugin-tooling
  .github/workflows/ci.yml
Due: format-root

chore: update Chinese README link to zh-Hans
  README.md
Due: format-root

chore: update CI checks for plugin output paths
  .github/workflows/ci.yml
Due: format-root

chore: add API secret env vars to workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format-root

release(desktop): v0.0.1
  apps/desktop/package.json
Due: format-root

fix: add @borewit/text-codec dependency
  apps/desktop/package.json
  pnpm-lock.yaml
Due: format-root

chore: remove @borewit/text-codec from desktop app
  apps/desktop/package.json
  pnpm-lock.yaml
Due: format-root

chore: pin pnpm to 10.25.0 in workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format-root

chore: remove .npmrc; update VSCode launch runtime path
  .npmrc
  .vscode/launch.json
Due: format-root

chore: reorganize desktop deps and update builder
  apps/desktop/package.json
  pnpm-lock.yaml
Due: format-root

chore: specify pnpm version in package.json
  package.json
Due: format-root

chore: adjust electron-builder exclude patterns
  apps/desktop/electron-builder.yml
Due: format-root

chore: add .npmrc and update pnpm lockfile
  .npmrc
  pnpm-lock.yaml
Due: format-root

chore: use root electron-vite in VSCode launch.json
  .vscode/launch.json
Due: format-root

chore: update Telegram contact link in issue template
  .github/ISSUE_TEMPLATE/config.yml
Due: format-root

chore: update desktop app homepage URL
  apps/desktop/package.json
Due: format-root

docs: add warning callout to README files
  README.md
  README.zh-Hans.md
Due: format-root

chore: remove TypeScript type re-exports from the adder service
  apps/desktop/src/main/services/adder/index.ts
  apps/desktop/src/main/services/adder/service.ts
  apps/desktop/src/main/services/scanner/handlers/game/handler.ts
Due: lint-desktop, format-desktop

chore: refine empty activity UI styling
  apps/desktop/src/renderer/src/components/shared/game/detail/tabs/activity-tab/activity-empty.vue
Due: none

Path conditions:
  lint-desktop: any of: apps/desktop/**/*.{ts,tsx,mts,js,mjs,cjs} and ^apps/desktop/
  format-desktop: any of: apps/desktop/**/*.{ts,tsx,mts,js,mjs,cjs,json,css} and ^apps/desktop/
  lint-plugin-sdk: any of: packages/plugin-sdk/**/*.{ts,tsx,mts,js,mjs,cjs} and ^packages/plugin\-sdk/
  format-plugin-sdk: any of: packages/plugin-sdk/**/*.{ts,tsx,mts,js,mjs,cjs,json,css} and ^packages/plugin\-sdk/
  lint-plugin-cli: any of: packages/plugin-cli/**/*.{ts,tsx,mts,js,mjs,cjs} and ^packages/plugin\-cli/
  format-plugin-cli: any of: packages/plugin-cli/**/*.{ts,tsx,mts,js,mjs,cjs,json} and ^packages/plugin\-cli/
  lint-create-plugin: any of: packages/create-kisaki-plugin/**/*.{ts,tsx,mts,js,mjs,cjs} and ^packages/create\-kisaki\-plugin/
  format-create-plugin: any of: packages/create-kisaki-plugin/**/*.{ts,tsx,mts,js,mjs,cjs,json} and ^packages/create\-kisaki\-plugin/
  format-root: any of: *.{json,yaml,yml,md}
